.main-div {
    background: #f3721f;;
}
.histroy-btn {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: white;
}
.active {
    background: rgb(37, 153, 95);
}
.histroy-h {
    color: brown;
}