
<div class="container-fluid">
    <div class="row main-div">
        <div class="col-4">
            <button class="histroy-btn community-a"[ngClass]="{'active': showDiv ==1}" (click)="showDIV(1)">Histroy</button>
        </div>
        <!-- <div class="col-3">
            <button class="histroy-btn community-a"[ngClass]="{'active': showDiv ==2}" (click)="showDIV(2)">Our Team</button>
        </div> -->
        <div class="col-4">
            <button class="histroy-btn community-a"  [ngClass]="{'active': showDiv ==3}" (click)="showDIV(3)">Community</button>
        </div>
        <div class="col-4">
            <button class="histroy-btn community-a"  [ngClass]="{'active': showDiv ==4}" (click)="showDIV(4)">Sustainability</button>
        </div>
    </div>
    <!-- histroy portion  -->
    <div class="row" *ngIf="showDiv ==1">
        <div class=" col-12 text-center mt-4 mb-4">
            <img style="width: 250px; height: 200px;" src="/assets/TruckPics5.jpeg" alt="" class="histroy-img" >
            <h2 class="mt-4 histroy-h">Proud History</h2>
        </div>
        <div class="container">
          <div class="row mt-4 mb-4">
            <p>Tac-Tac Transportation is newly formed transportation company incorporated in the state of Illinois. We specialize in
               providing over the road dry and wet freight carrier services, supply chain solutions and trucking franchise opportunity.
               We are your one stop solution to your Supply Chain operation.


            </p>
            <p>
              With our innovative approach to logistic services, we have built a transportation company that provides our valued customers
              with a one point solution to all their logistic and supply chain needs.
            </p>
          </div>
        </div>
    </div>
    <!-- our team portion -->
    <div class="row" *ngIf="showDiv ==2">
      <div class="container-fluid section-doctor">
        <div class="section-header text-center">
            <h4 class="mainhead">Our Senior Team</h4>
            <span>These Member are play Important role in our Success</span>
        </div>
        <div class="container pt-5">
        <div class="row">
          <div class="col-md-3 mt-4"  *ngFor="let member of TeamMembers" >
              <div class="profile-widget">
                  <div class="doc-img">
                   <img src="{{member.profileImage }}"alt="" class="">
                    <a ><i class="fa fa-bookmark fav-btn" aria-hidden="true"></i></a>
                  </div>
                  <div class="pro-content mt-4">
                    <h2 class="titles">{{member.name}}</h2>
                    <h2 class="title">{{member.occuption}}</h2>
                    <p class="specility" style="font-weight: 100; font-size: 13px; line-height: 21px; ">{{member.description}}</p>

                  </div>
                </div>
          </div>

        </div>
        </div>

      </div>
    </div>
    <!-- community portion  -->
    <div class="row" *ngIf="showDiv ==3">
    <div class="container-fluid mt-4">
      <div class="section-header text-center">
        <h4 class="mainhead">We Care Community Involnment</h4>
    </div>
    <div class="container mt-4 mb-4">
      <div class="row">
        <p>Tac-Tac Transportation is a community based company that strives in helping building our community and engage in the well-being of our community.
          </p>
          <p>
            We truly believe that in order to Tac-Tac Transportation to succeed, we should help our community to prosper by engaging in healthy relationship with our community.
          </p>
          <p>
            We hire locally first and participate in various community based organization.
          </p>
        <!-- <div class="col-md-6" *ngFor="let community of communitys">
          <div class="profile-widget">
            <div class="doc-img">
              <img src="{{community.image }}"alt="" class="">
               <a ><i class="fa fa-bookmark fav-btn" aria-hidden="true"></i></a>
             </div>
             <div class="pro-content mt-3">
               <h2>{{community.name}}</h2>
               <a class="community-a" href="{{community.url}}">{{community.url}}</a>
             </div>
          </div>

        </div> -->
      </div>
    </div>
    </div>
    </div>
    <!-- sustanbility portion  -->
    <div class="row" *ngIf="showDiv ==4">
      <div class="container-fluid mt-4 mb-4">
        <div class="section-header ">
          <h4 class="mainhead  mb-4">Sustanbiltiy</h4>
          <p>
            We take Sustainability seriously by buying only newer and fuel efficient trucks and we have committed to have only electric trucks by 2023. We will only survive
            </p>
            <p>
              by doing our part in maintain a clean and sustainable environment.</p>
              <p>
                Why Work for Tac-Tac Transportation?</p>
          <ul>
            <li>Leading Pay Packages including a Minimum Pay Program</li>
            <li>Driving School financing</li>
            <li>Paid vacation and personal time</li>
            <li>Work every other weekend</li>
            <li>Home Time to Meet Your Needs</li>
            <li>Comprehensive Benefit Packages</li>
            <li>Fleet less than 2 Years Old average</li>
            <li>Assigned Equipment</li>
            <li>Employees who care and communicate</li>
            <li>Franchise opportunities and company ownership program available to all eligible employees</li>
          </ul>

          <!-- <img src="/assets/certificate.png" alt="" class="histroy-img"> -->
      </div>
      <div class="container">

      </div>
      </div>

    </div>
</div>

