<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center main-he">Contact Us</h2>
      <p  class="text-center">Open 24 hours per day, 7 days per week,</p>
      <p  class="text-center">we strive to provide you the highest in customer service</p>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h5 class="bg-co">Chicago</h5>
        <p class=" "><i class="fa fa-phone" aria-hidden="true"></i> +630-923-2741 </p>
        <p><i class="fa fa-phone" aria-hidden="true"></i> +224-334-5331 </p>
        <p><i class="fa fa-phone" aria-hidden="true"></i> +312-451-5712 </p>
        <!-- <p>201-843-6187 (Fax - Brokerage)</p> -->


        <!-- <h5 class="bg-co">Pennsylvania</h5>
        <p>6675 Low Street</p>
        <p class=" mb-4  pb-4">Bloomsburg, PA 17815</p>
        <p>800-967-6246 (Toll Free)</p>
        <p>570-389-0303 (Fax)</p>


        <h5 class="bg-co">Illinois</h5>
        <p>625 East 107th Street</p>
        <p class=" mb-4  pb-4">Bolingbrook, IL 60440</p>
        <p>800-308-8766 (Toll Free)</p>
        <p>630-783-9721 (Fax)</p> -->


      </div>
      <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="mt-4 mb-4 pt-4">
          <h2 class="bg-co">Driver Recruiting Department</h2>
          <p>800-999-4473 (Toll Free)</p>
          <p>570-389-8987 (Fax)</p>
          <p>Email: <span class="bg-co"><a href="mailto: PRICE@mtrk.com">Recruiting@mtrk.com</a></span></p>
        </div>
        <div class="mt-4 mb-4  custom-pa">
          <h4 class="bg-co">Email Contacts</h4>
          <p>Rate Quote <span class="bg-co"><a href="mailto: PRICE@mtrk.com">PRICE@mtrk.com</a> </span></p>
          <p>Customer Service <span class="bg-co"><a href="mailto: CS@mtrk.com">CS@mtrk.com</a></span></p>
          <p>Human resources <span class="bg-co"><a href="mailto: HR@mtrk.com">HR@mtrk.com</a></span></p>
        </div>

      </div> -->
    </div>

</div>
