<div class="container-fluid footer">
  <div class="row footer1"></div>
  <div class="row footer2"></div>
  <div class="row mt-4">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <ul class="ul-footer">

       <li><a class="nav-link">Home</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <ul class="ul-footer">

        <li><a class="nav-link">About US</a></li>
        <li><a class="nav-link">Histroy</a></li>
        <li><a class="nav-link">Our Team</a></li>
        <li><a class="nav-link">Community</a></li>
        <li><a class="nav-link">Sustanbiltiy</a></li>
       </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <ul class="ul-footer">

        <li><a class="nav-link">Drivers</a></li>
        <li><a class="nav-link">Welcome</a></li>
        <li><a class="nav-link">Qualification</a></li>
        <li><a class="nav-link">Pay</a></li>
        <li><a class="nav-link">Programs</a></li>
        <li><a class="nav-link">Benefits</a></li>
       </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <ul class="ul-footer">
        <li><a class="nav-link">Customers</a></li>
        <li><a class="nav-link">Coverage</a></li>
        <li><a class="nav-link">Services</a></li>
        <li><a class="nav-link">Our Team</a></li>
        <li><a class="nav-link">Sustanbiltiy </a></li>
       </ul>
    </div>
  </div>
</div>
